@import "tailwindcss";

@theme {
  --color-neonCyan: #00f0ff;
  --color-neonCyanDark: #00b3cc;
  --color-deepDark: #0a0a0f;
  --color-panelDark: #14141e;
  --font-space: "Space Grotesk", sans-serif;
  --font-inter: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-deepDark text-gray-200 font-inter;
  }
}

