@import "tailwindcss";

@theme {
  --color-primeBlue: #1a56db;
  --color-lightBlue: #ebf4ff;
  --color-darkText: #1e293b;
}

@layer base {
  body {
    @apply bg-white text-gray-900 font-sans;
  }
}

